// variable
$main-color: #0d47a1;
$heading-color: #263238;
$text-color: #706767;
$body-background-color: #eceff1;
$text-hover-color: #fff;

body {
  background-color: $body-background-color;
  font-family: "Nunito", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

// Start Settings Box
.settings-box {
  position: fixed;
  left: -200px;
  top: 50%;
  bottom: 0;
  width: 200px;
  height: 300px;
  background-color: #2d3436;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  z-index: 10000;

  &.open {
    left: 0;
  }

  .toggler-icon {
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
    font-size: 25px;
    cursor: pointer;
  }

  .color-option {
    padding: 10px;

    h4 {
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      padding-top: 10px;
    }

    ul {
      text-align: center;
      margin-bottom: 0;
      li {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 5px;
        border-radius: 50%;
        cursor: pointer;

        &:nth-child(1) {
          background-color: #f44336;
        }
        &:nth-child(2) {
          background-color: #4caf50;
        }
        &:nth-child(3) {
          background-color: #0d47a1;
        }
        &:nth-child(4) {
          background-color: #673ab7;
        }
        &:nth-child(5) {
          background-color: #e91e63;
        }
      }
    }
  }
}
// End Settings Box

// Start Header
header {
  background-image: url("../imges/Header-Background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  .navbar {
    transition: all 0.3s ease-in-out;
    padding: 15px 0;

    @media (max-width: 991px) {
      background-color: $text-hover-color;
    }
    .navbar-brand img {
      width: 40px;

      @media (max-width: 991px) {
        margin-left: 25px;
      }
    }

    .navbar-toggler {
      border: none;
      &:focus {
        outline: none;
      }
    }

    .navbar-collapse {
      padding-top: 10px;
    }

    .navbar-nav .nav-item.active > .nav-link {
      color: $main-color;
    }

    .navbar-nav .nav-item .nav-link {
      color: $heading-color;
      text-transform: capitalize;
      margin-left: 8px;
      font-weight: normal;
      transition: all 0.3s ease-in-out;
      border-bottom: 2px solid transparent;
      &:hover {
        color: $main-color;
        @media (max-width: 991px) {
          background-color: $main-color;
          color: $body-background-color;
        }
      }
      @media (max-width: 991px) {
        margin-left: 0;
        padding-left: 25px;
      }
    }

    .social {
      margin-left: 10px;
      @media (max-width: 991px) {
        display: none;
      }

      a {
        color: $main-color;
        text-decoration: none;
        margin: 0 8px;
        transition: all 0.3s ease-in-out;
        display: inline-block;
        &:hover {
          transform: translateY(-3px);
        }
      }
    }
    &.scrolling {
      background-color: #fff;
      box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.2);
    }
  }
}
// End Header

// Start Hero Area
header .hero-area {
  padding-top: 170px;
  height: 100vh;

  @media (max-width: 991px) {
    padding-top: 82px;
  }

  @media (max-width: 767px) {
    padding-top: 0;
  }

  .header-left {
    padding-top: 60px;
    padding-bottom: 50px;
    @media (max-width: 991px) {
      padding-top: 0;
    }
    @media (max-width: 767px) {
      padding-bottom: 10px;
      padding-top: 150px;
    }

    h1 {
      font-size: 4rem;
      span {
        color: $main-color;
      }

      @media (max-width: 767px) {
        font-size: 3rem;
        text-align: center;
      }
    }
    p {
      color: $text-color;
      @media (max-width: 767px) {
        text-align: center;
      }
    }
    .btns {
      display: block;
      @media (max-width: 767px) {
        text-align: center;
      }
      a {
        background-color: $main-color;
        color: $body-background-color;
        padding: 10px 25px;
        border-radius: 10px;
        font-weight: bold;
        transition: all 0.3s ease-in-out;

        &:focus {
          box-shadow: none;
        }

        &:hover {
          transform: translateY(-3px);
        }
      }
    }
  }
  .header-right {
    padding-top: 30px;
    @media (max-width: 767px) {
      display: none;
    }
  }
}
// End Hero Area

// Start Header Card
header .heder-card {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);

  .card {
    padding: 25px;
    border-radius: 0.75rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    .details-left {
      background-color: $body-background-color;
      padding: 20px;
      border-radius: 0.75rem;
      overflow: hidden;

      @media (max-width: 767px) {
        margin-bottom: 20px;
        text-align: center;
      }

      h5 {
        border-bottom: 1px dotted black;
        padding-bottom: 15px;
        font-size: 1.2rem;
        margin-bottom: 20px;
      }
      p {
        font-size: 0.9rem;
      }
    }
    .details-right {
      padding-left: 25px;

      @media (max-width: 767px) {
        padding-left: 0;
        text-align: center;
      }

      h4 {
        margin: 15px 0;
        span {
          color: $main-color;
        }
      }
      p {
        line-height: 2;
        color: $text-color;
        span {
          color: $main-color;
          font-weight: bold;
        }
      }
    }
  }
}
// End Header Card

// Start Services
.services {
  padding-top: 150px;
  @media (max-width: 767px) {
    padding-top: 245px;
  }
  @media (max-width: 575px) {
    padding-top: 270px;
  }
  h2 {
    margin-bottom: 15px;
    color: $main-color;
  }

  p {
    margin-bottom: 30px;
    line-height: 1.7;
    color: $text-color;
  }
  .serv-box {
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 2;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      background-color: $main-color;
      transition: all 0.5s ease-in-out;
      border-radius: 50% 0 0 0;
      z-index: -1;
      color: $text-hover-color;
    }

    &:hover {
      color: $text-hover-color;
    }

    &:hover h3,
    &:hover p,
    &:hover a {
      color: $text-hover-color;
    }

    &:hover::before {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    .serv-icon {
      width: 50px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
    h3 {
      font-size: 20px;
      color: $main-color;
      margin: 15px 0 0;
      transition: all 0.3s ease-in-out;
    }
    p {
      color: $text-color;
      margin: 10px 0;
      transition: all 0.3s ease-in-out;
    }
    a {
      text-decoration: none;
      color: $main-color;
      transition: all 0.3 ease-in-out;
      &:hover {
        color: $heading-color;
      }

      .icon {
        font-size: 11px;
        margin-left: 5px;
      }
    }
  }
}
// End Services

// Start Work Experties
.experties {
  padding: 50px 0;

  h2 {
    color: $main-color;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 30px;
    color: $text-color;
  }

  .expert-box {
    min-height: 275px;
    border-radius: 1rem;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    .expert-icon {
      position: relative;
      width: 80px;
      height: 80px;
      margin: auto;
      line-height: 80px;
      border-radius: 50%;
      background-color: $body-background-color;

      img {
        width: 35px;
      }
    }
    span {
      position: absolute;
      color: $main-color;
      font-size: 13px;
      background-color: rgba($color: $main-color, $alpha: 0.1);
      padding: 2px 5px;
      border-radius: 4px;
      top: 10%;
      left: 60%;
      transform: translateX(-50%);
      @media (max-width: 767px) {
        left: 50%;
        top: 5%;
      }
    }
    h4 {
      color: $main-color;
      font-weight: bold;
      font-size: 1.2rem;
      margin: 20px 0;
    }
    p {
      color: $text-color;
      margin-bottom: 0;
    }
  }
}
// End Work Experties

// Start Portfolio
.portfolio {
  h2 {
    margin-bottom: 20px;
  }
  .project-desc {
    margin-bottom: 30px;
    color: #706767;
  }
  .project-box {
    min-height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    .project-img {
      max-height: 150px;
      overflow: hidden;
    }
  }
}
// End Portfolio

// Start Testimonial
.testimonial {
  padding: 50px 0;
  h2 {
    color: $main-color;
    margin-bottom: 20px;
  }
  p {
    color: $text-color;
    line-height: 1.7;
    margin-bottom: 30px;
  }
  .slider {
    .owl-carousel.owl-loaded {
      position: relative;
    }
    .owl-carousel {
      .content {
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 30px;

        img {
          width: 150px;
          margin: 5px;
        }

        .text {
          width: 400px;
          text-align: left;
          padding-left: 20px;

          h4 {
            margin: 10px 0;
          }
          p {
            color: $text-color;
            line-height: 1.7;
            margin-bottom: 0;
          }
        }
      }

      .owl-stage-outer {
        & > div {
          background-color: #fff;
          text-align: center;
          padding: 20px 0;
        }
      }

      .owl-nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 45%;
        transform: translateY(-50%);
        button {
          &:focus {
            border: none;
            outline: none;
          }
          span {
            font-size: 50px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            display: block;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            line-height: 50px;
          }
        }
      }
    }
  }
}
// End Testimonial

// Start contact me
.contact-me {
  padding: 50px 0;
  h2 {
    color: $main-color;
    margin-bottom: 20px;
  }
  p {
    color: $text-color;
    margin-bottom: 30px;
    line-height: 1.7;
  }
  .contact-box {
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    .contact-icon {
      margin: auto;
      width: 40px;

      img {
        width: 100%;
      }
    }

    h4 {
      color: $main-color;
      margin: 20px 0;
    }
    p {
      color: $text-color;
      line-height: 1.7;
      margin: 0;
    }

    a {
      color: $main-color;
      text-decoration: none;
      margin-top: 15px;
      display: block;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $heading-color;
      }
    }
  }
  form {
    input {
      padding: 25px 20px;
      &:focus {
        box-shadow: none;
      }
    }
    textarea {
      height: 190px;

      &:focus {
        box-shadow: none;
      }
    }

    input[type="submit"] {
      background-color: $main-color;
      color: #fff;
      transition: all 0.3s ease-in-out;
      padding: 8px 16px;
      &:hover {
        transform: translateY(-3px);
      }
      @media (max-width: 767px) {
        margin: auto;
      }
    }
  }
}
// End contact me

// Start Footer
footer {
  padding-top: 50px;

  h2 {
    color: $main-color;
    margin-bottom: 30px;
  }

  .social-box {
    ul li {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      margin: 3px;
      border: 1px solid $heading-color;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $main-color;
        border: 1px solid $main-color;
        color: #fff;
        transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
      }
    }
  }

  .copy-right {
    background-color: #333;
    padding: 15px 0;
    p {
      margin-bottom: 0;
      color: $text-hover-color;
    }
  }
}
// End Footer

// Start Scrool To Top
.totop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #fff;
  background-color: $main-color;
  padding: 5px 7px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  z-index: 5;
  display: none;
}
// End Scrool To Top

// Custome ScrollBar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 5px;
}
